@import "tailwindcss";

:root {
  --primary-color: #ec6408;
}

@theme {
  --color-primary: var(--primary-color);
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavorit-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavoritMono-Book.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavoritMono-BookItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "ABCFavorit", Arial, Helvetica, sans-serif;
}
