@import "tailwindcss";

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavorit-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavoritMono-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavoritMono-Book.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ABCFavorit";
  src: url("/fonts/ABCFavoritMono-BookItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "ABCFavorit", Arial, Helvetica, sans-serif;
}
